@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
background-color: silver;
font-family: sans-serif;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
height: 100%;
min-height: 100vh;
}

header {
background-color: silver;
color: #fff;
font-size: 6em;
-webkit-box-flex: 0;
-webkit-flex: none;
-ms-flex: none;
flex: none;
}

main h1 {
margin: 0.5em;
color: white;
font-size: 3em;
text-align: center;
text-transform: none;
}

main h2 {
    margin: 0.5em;
    color: white;
    font-size: 3em;
    text-align: center;
    text-transform: none;
    }

main {
flex: 1;
padding: 1.5em;
}

main:after {
content: "\00a0"; /* &nbsp; */
display: block;
margin-top: var(--space);
height: 0px;
visibility: hidden;
}

main > article {
display: flex;
background-color: silver;
flex-direction: column;
padding: 1.5em;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}

canvas{
    color: white;
    border: white dashed 2px;
    padding:15px;
  }
  
  h1 {
      font-size: 2.6em;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
     margin:5px 0;
  }
  
  p {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 1em;
    text-align: center;
  }
  
  #alphabet {
    margin: 0;
    padding: 0;
    max-width: 900px;
  }
  
  #alphabet li {
    float: left;
    margin: 0 1em 1em 0;
    list-style: none;
    width: 40px;
    height: 30px;
    margin-bottom: 20px;
    background: lightgrey;
    color: blue;
    cursor:pointer;
    border: solid blue;
  }
  
  #my-word {
    margin: 0;
    display: block;
    padding: 0;
    color: #9b388a;
  }
  
  #my-word li {
    position: relative;
    list-style: none;
    margin-top: 5px;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }
  
  #mylives{
    font-size:1.6em;
    text-align:center;
    display:block;
    color: blue;
  }
   
   button {
    background: grey;
    color: white;
    border: solid white;
    text-decoration: none;
    cursor: pointer;
    font-size:1.2em;
    padding:  10px;
    width: 180px;
    margin: 10px;
    outline: none;
   }
    
    button:hover {
        background: grey;
        border: solid white;
        color: #9b388a;
      }
  
  footer {
    background-color: silver;
    border-top: 2px dashed #422a97;
    margin: 0;
    padding-top: 20px;
    color: white;
    font-size: 1.25em;
    width: 100%;
    flex: none;
    text-align: left;
  }
  